.getstarted-body {
    background-color: #DCDCDC;
    padding-top: 8%;
}
.getstartmain {
    background: bisque;
    margin-left: 0;
}
.card-img-top-1{
    flex-shrink: 0;
    width: 100%;
    height: 30rem;
}

@media (max-width:500px) {
    .getstarted-body {
        background-color: #DCDCDC !important;
        padding-top: 26% !important;
    }  
}